@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-normal text-3xl/10 tracking-[-0.025rem] md:text-4xl/[4rem] md:tracking-[-0.0375rem] lg:text-5xl/[5rem] lg:tracking-[-0.0625rem];
  }

  h2 {
    @apply font-bold text-3xl/10 md:text-4xl/[3rem];
  }

  h3 {
    @apply font-bold text-2xl/6;
  }

  h4 {
    @apply text-xl/7 font-semibold;
  }

  /* remove arrow button from input type number element */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .max-width {
    @apply max-w-[1110px] mx-auto px-0;
  }

  .btn-dark {
    @apply bg-transparent text-white border-white hover:bg-white hover:text-cod-gray;
  }

  .btn-light {
    @apply bg-cod-gray text-white border-cod-gray hover:bg-white hover:text-cod-gray;
  }

  .btn-small {
    @apply w-[245px];
  }

  .btn-large {
    @apply w-full;
  }

  .after-underline {
    @apply after:content-[""] after:absolute  after:w-12 after:h-[1px] after:bg-beaver after:bottom-0 after:inset-x-0 after:mx-auto
    lg:after:w-24 lg:after:inset-y-0 lg:after:my-auto lg:after:inset-[unset] lg:after:mx-[unset] lg:after:left-[-125px];
  }

  .events-bg {
    @apply md:bg-top-right bg-[length:895px_320px] bg-no-repeat bg-events-bg-tablet lg:bg-events-bg-desktop;
  }

  .menu-line {
    @apply before:content-[""] before:absolute before:w-full before:h-[1px] before:bg-white/10 before:top-[-24px];
  }

  .menu-line-2 {
    @apply before:hidden before:md:block before:content-[""] before:absolute before:w-8 before:h-[1px] before:bg-beaver before:right-[-24px] before:top-[18px];
  } 

  .hero-bg-first {
    @apply md:bg-top-right bg-[length:895px_320px] bg-no-repeat bg-events-bg-tablet lg:bg-events-bg-desktop;
  }

  .hero-bg-second {
    @apply md:bg-top-right bg-[length:895px_320px] bg-no-repeat bg-events-bg-tablet lg:bg-events-bg-desktop;
  }

  .header-bg {
    @apply bg-hero-bg-mobile bg-no-repeat bg-cover md:bg-hero-bg-tablet lg:bg-hero-bg-desktop;
  }

  .booking-header-bg {
    @apply bg-booking-bg-mobile bg-no-repeat bg-cover md:bg-booking-bg-tablet lg:bg-booking-bg-desktop;
  }

  .form-position {
    @apply bg-white mb-[86px] h-[585px] mt-[-144px] max-w-[540px] mx-auto md:mt-[-320px] md:mb-[120px] lg:absolute lg:right-0 lg:mb-[100px] lg:mt-[-380px] lg:z-10;
  }

}
